.form-wrapper {
    background: var(--color-gradient-blue);
    color: var(--color-primary-light);
}

.form {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    min-height: 600px;
    padding: var(--spacing-padding-2) 0;
}

.form > div {
    display: grid;
    gap: var(--spacing-padding-6);
    grid-template-columns: 1fr 1fr;
}

@media screen and (width < 1200px) {
    .form > div {
        gap: 0;
        grid-template-columns: none;
        padding-left: var(--spacing-padding-2);
        padding-right: var(--spacing-padding-2);
    }
}

.form .form-target {
    padding-top: var(--spacing-padding-3);
}

.form-target .mktoForm .shift-input {
    border-radius: 0;
    font: var(--type-body-1-default-font);
    height: 3rem;
    margin: var(--spacing-padding-1) 0;
    padding: var(--spacing-padding-1);
    text-align: left;
    width: 100%;
}

.form-target .mktoForm .shift-input:focus {
    border: none !important;
}

.form-target .mktoForm .shift-input::placeholder {
    opacity: 0;
}

.mktoForm label.shift-label,
.mktoForm .mktoRequiredField label.mktoLabel.shift-label {
    color: var(--color-primary-light);
    display: block;
    font: var(--type-body-1-default-font);
    font-weight: 300;
    width: auto !important;
}

.mktoForm .mktoCheckboxList > label {
    color: var(--color-primary-light);
}

.form .form-target button[type="submit"] {
    background-color: var(--color-accent);
    color: var(--color-primary-dark);
    font: var(--type-button-1-font);
    letter-spacing: var(--type-button-1-letter-spacing);
}

.form-target .mktoForm button.mktoButton {
    border: none;
}

.form-target .mktoForm button.mktoButton:hover {
    background-color: var(--color-accent) !important;
    border: none !important;
}