.image-text > div {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    padding: 2em 0;
}

@media (width < 1024px) {
    .image-text > div {
        grid-template-columns: none;
    }
    .image-text .image-text-image-wrap {
        order: 1;
    }
    
    .image-text .image-text-text-wrap {
        order: 2;
    }
}

.image-text.dark {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);
}

.image-text.gradient-blue {
    background-image: var(--color-gradient-blue-inverted);
    color: var(--color-primary-light);
}

.image-text-image-wrap {
    width: 100%;
}

.image-text-text-wrap {
    padding: 2em;
}

.image-text-text-wrap h2,
.image-text-text-wrap h3 {
    font: var(--type-display-2-font);
    letter-spacing: var(--type-display-2-letter-spacing);
}

@media (width >= 1024px) {
    .image-text > div:first-of-type .image-text-text-wrap {
        max-width: 400px;
    }

    .image-text > div:last-of-type .image-text-text-wrap {
        margin-left: 4em;
    }
}
