/* stylelint-disable selector-class-pattern, no-descending-specificity */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
@import url('./variables.css');

@font-face {
	font-family: roboto-fallback;
	size-adjust: 100.06%;
	ascent-override: 95%;
	src: local('Arial');
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font: var(--type-body-1-default-font);
	letter-spacing: var(--type-body-1-default-letter-spacing);
	margin: 0;
	color: var(--color-primary-dark);
	background-color: var(--background-color);
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

body:not(.appear) {
	visibility: hidden;
}

header {
	height: var(--nav-height);
}

h1 {
	font: var(--type-display-1-font);
	letter-spacing: var(--type-display-1-letter-spacing);
}

h2 {
	font: var(--type-display-2-font);
	letter-spacing: var(--type-display-2-letter-spacing);
}

h3 {
	font: var(--type-display-3-font);
	letter-spacing: var(--type-display-3-letter-spacing);
}

h4 {
	font: var(--type-headline-1-font);
	letter-spacing: var(--type-headline-1-letter-spacing);
}

h5 {
	font: var(--type-headline-2-strong-font);
	letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

h6 {
	font: var(--type-headline-2-default-font);
	letter-spacing: var(--type-headline-2-default-letter-spacing);
}

p,
dl,
ol,
ul,
pre,
blockquote {
	margin-top: 1.5625em;
	margin-bottom: 1.5625em;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 0;
	border-bottom: 1px solid var(--color-neutral-300);
}

code,
pre,
samp {
	font: var(--type-body-2-default-font);
	letter-spacing: var(--type-body-2-default-letter-spacing);
	font-family: var(--type-fixed-font-family);
}

code,
samp {
	padding: 0.125em;
}

pre {
	overflow: scroll;
}

main pre {
	background-color: var(--color-neutral-300);
	padding: 1em;
	border-radius: 0.25em;
	overflow-x: auto;
	white-space: pre;
}

/* links */
a:not(.dropin-design a) {
	color: var(--color-brand-500);
	font: var(--type-body-1-strong-font);
	letter-spacing: var(--type-body-1-strong-letter-spacing);
	text-decoration: none;
}

a:not(.dropin-design a):hover {
	text-decoration: solid underline var(--color-brand-700);
	text-underline-offset: 6px;
	color: var(--color-brand-700);
}

a:not(.dropin-design a):focus-visible {
	outline: solid var(--shape-border-width-4) var(--color-neutral-400);
	border: var(--shape-border-width-1) solid var(--color-neutral-800);
	border-radius: var(--shape-border-radius-1);
}

u {
	text-underline-offset: 6px;
}

a > u,
button.button > u {
	text-decoration: none;
}

/* buttons */
main a.button:any-link,
main button.button {
	font: var(--type-button-2-font);
	letter-spacing: var(--type-button-2-letter-spacing);
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	border: var(--shape-border-width-3) solid transparent;
	padding: 5px 3rem;
	text-align: center;
	cursor: pointer;
	color: var(--color-neutral-50);
	background-color: var(--color-brand-500);
	margin: var(--spacing-small) 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: var(--shape-border-radius-3);
}

main a.button:hover,
main a.button:focus,
main button.button:hover,
main button.button:focus {
	background-color: var(--color-brand-600);
	cursor: pointer;
}

main a.button.disabled,
main button.button:disabled,
main button.button:disabled:hover {
	background-color: var(--color-neutral-300);
	cursor: unset;
}

main a.button.secondary,
main button.button.secondary {
	background-color: unset;
	border: var(--shape-border-width-3) solid currentcolor;
	color: var(--color-brand-500);
}

main a.button.secondary:hover,
main button.button.secondary:hover {
	color: var(--color-brand-600);
}

main blockquote {
	font-style: italic;
	margin: 3rem;
	text-indent: -1rem;
	hanging-punctuation: first;
}

main blockquote p::before {
	content: '“';
	line-height: 0;
}

main blockquote p::after {
	content: '”';
	line-height: 0;
}

main img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.icon {
	display: inline-block;
	height: 2.4rem;
	width: 2.4rem;
}

.icon img {
	height: 100%;
	width: 100%;
}

/* section metadata */
main .section.light,
main .section.highlight {
	background-color: var(--color-neutral-500);
}

/* Base Design System Tokens */
.dropin-design.dropin-design {
	--background-none: none 0 0% no-repeat padding-box;
}

main .section .default-content-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}
