.two-column-feature-highlight {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    padding: var(--spacing-padding-2) 0;
}

.two-column-feature-highlight > div:has(div + div) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-padding-2);
}

.two-column-feature-highlight > div:has(div + div) p {
    align-items: center;
    display: grid;
    grid-template-columns: 68px 1fr;
    font: var(--type-highlight-font);
    letter-spacing: var(--type-highlight-letter-spacing);
}

.two-column-feature-highlight > div:has(div + div) p picture {
    margin-right: var(--spacing-padding-1);
}

@media screen and (width < 1200px) {
    .two-column-feature-highlight {
        padding-left: var(--spacing-padding-2);
        padding-right: var(--spacing-padding-2);
    }
}

@media screen and (width < 680px) {
    .two-column-feature-highlight > div:has(div + div) {
        gap: 0;
        grid-template-columns: none;
    }
}